.messages__block {
    width: calc(100% - 300px);
    height: calc(100vh - 34px);
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .messages__window {
        width: 748px;
        height: 100%;
        border: 1px solid #E5E5E5;
        margin: auto;
        border-radius: 4px;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;


        &__head {
            width: 100%;
            height: 45px ;
            margin-top: -0.5px;
            background-color: #fff;
            border-radius: 3px 3px 0px 0px;
            border-bottom: 1px solid #E5E5E5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 16px;
            span{
                height: 45px;
                display: flex;
                align-items: center;
            }
        }

        &__body {
            width: 100%;
            min-height: calc(100% - 90px);
            height: auto;
            overflow-y: auto;
            padding-top: 9px;

            .divider{
                width: calc(100% - 18px);
                height: 30px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: -10px;
                margin-bottom: 4px;
                .line{
                    width: 100%;
                    height: 1px ;
                    background-color:  rgba(0, 0, 0, 0.4);;

                }
                .channelName{
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 14px;
                    line-height: 11px;
                    letter-spacing: 0.25px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.459);
                }
            }
            @mixin box{
                min-height: 50px;
                width: auto;
                min-width: 120px;
                max-width: 70%;
                padding: 7px 10px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0.25px;
                span{
                    width: 25px;
                    float: right;
                    bottom: 5px;
                    right: 9px;
                    font-size: 10px;
                    opacity: 0.8;
                    letter-spacing: 0.15px;
                }
            }
            .message__line {
                width: 100%;
                min-height: 30px;
                height: auto;
                padding: 0px 9px 14px 9px;
                position: relative;
                display: flex;
                align-items: center;

                .message__box {
                    @include box;
                    background-color: #E4E4E4;
                    border-radius: 4px 8px 8px 4px;
                    color: #0000009d;  
                }
            }

            .message__line__right {
                justify-content: flex-end;
                .message__box {
                    @include box;
                    background-color: #1BB55C;                    
                    border-radius: 8px 4px 4px 8px;
                    color: rgba(255, 255, 255, 0.877);                  

                }
            }
        }

        &__body::-webkit-scrollbar {
            width: 4px;
        }

        /* ползунок скроллбара */
        &__body::-webkit-scrollbar-thumb {
            background-color: #69696948;
            border-radius: 9em;
        }

        &__footer {
            width: 100%;
            height: 45px;
            border-radius: 0px 0px 3px 3px;
            border-top: 1px solid #E5E5E5;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;


            input {

                border: none;
                outline: none;
                height: 45px ;
                width: calc(100% - 60px);
                height: 100%;
                padding-left: 14px;
                border-radius: 0px 0px 5px 5px;
                color: rgba(0, 0, 0, 0.637);

            }

            input::placeholder {

                font-size: 14px;
                opacity: 0.4;

            }

            button {
                width: 60px;
                height: 100%;
                border: none;
                outline: none;
                background-color: #fff;
                padding-top: 4px;
                position: relative;
                border-radius: 0px 0px 3px 0px;

            }


        }
    }
}

